<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="layout_head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Show Me the Coin</title>

    <!-- Bulma is included -->
    <link rel="stylesheet" th:href="@{/css/main.min.css}">

    <!-- Fonts -->
    <link rel="dns-prefetch" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito}" rel="stylesheet" type="text/css">


    <script type="text/javascript" th:src="@{js/main.min.js}"></script>

    <!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
    <link rel="stylesheet" th:href="@{https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css}">
</head>