<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/head :: layout_head">
</head>
<body>
    <nav th:replace="layout/navbar :: layout_navBar"></nav>

    <!--    <aside th:replace="layout/aside :: layout_aside"></aside>-->

    <div layout:fragment="layout_content"></div>
<!--<script type="text/javascript" th:src="@{/js/main.min.js}"></script>-->



    <footer class="footer">

    </footer>

</body>
</html>