<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="layout_navBar">

    <nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
        <div class="container" sec:authorize="!isAuthenticated()">
            <div class="navbar-brand">
                <a class="navbar-item" href="/home">
                    <img th:src="@{/img/logo.png}" class="mr-2" height="28"/>
                    <p class="subtitle">Rich Shrimp</p>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div th:id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/user/login"> 로그인 </a>
                </div>
            </div>
        </div>


        <div class="container" sec:authorize="isAuthenticated()">
            <div class="navbar-brand">
                <a class="navbar-item" href="/home">
                    <img th:src="@{/img/logo.png}" class="mr-2" height="28"/>
                    <p class="subtitle">Rich Shrimp</p>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div th:id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/user/revenue"> 수익 내역 </a>
                    <a class="navbar-item" href="/user/trade-log"> 거래 현황 </a>
                    <a class="navbar-item" href="/user/user-config"> 내 설정 </a>
                    <a class="navbar-item" href="/user/logout"> 로그아웃 </a>
                </div>
            </div>

        </div>
    </nav>

    <script>
        // Hamburger menu functionality
        document.addEventListener('DOMContentLoaded', () => {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
</div>
>
</html>