server:
  servlet:
    encoding:
      charset: UTF-8
    session:
      timeout: 30m
      tracking-modes: cookie


spring:
  datasource:
    url: jdbc:h2:file:./maindb;DB_CLOSE_ON_EXIT=FALSE;AUTO_SERVER=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

upbit:
  client:
    timeout: 3000
  candle:
    minute: 1
    count: 200
  rsi:
    day: 5
  rmi:
    day: 14
    n : 5

auto:
  rsi:
    buy: 35
    sell : 60
  rmi:
    buy: 10
    sell: 70

