<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="layout_content">

    <section class="hero is-medium">
        <div class="hero-body has-text-centered">

        </div>
    </section>

    <div class="container is-max-desktop">
        <div class="section is-main-section">
            <section class="featured">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h2 class="subtitle">어제의 수익왕</h2>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-4" th:each="user : ${userList}">
                        <article>
                            <p class="title" th:text="${user.rank}"></p>
                            <h2 class="subtitle" th:text="${user.nickName}"></h2>
                            <span class="tag is-rounded" th:text="${#numbers.formatInteger(user.money, 0, 'COMMA')} + ' ₩'"></span>
                        </article>
                    </div>
                </div>

            </section>
        </div>
    </div>


</th:block>