<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="layout_content">

    <div class="container is-max-desktop">
        <div class="section is-main-section">
            <section class="featured">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h2 class="subtitle">가격 정보</h2>
                        </div>
                    </div>
                </div>

                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>코인 이름</th>
                        <th>업비트</th>
                        <th>코인원</th>
                        <th>차이</th>
                        <th>수정 시각</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="coin, coinStat : ${response}">
                        <th th:text="${coinStat.count}"></th>
                        <td th:text="${coin.getCoinKoreanName() + ' / ' + coin.getCoinId()}"></td>
                        <td th:text="${coin.getPrices()['UPBIT'] + ' ₩'}"></td>
                        <td th:text="${coin.getPrices()['COIN_ONE'] + ' ₩'}"></td>
                        <td th:text="${#numbers.formatDecimal(coin.getDifference(), 1, 'COMMA', 2, 'POINT')} + ' %'"
                            th:classappend="${coin.getDifference()} < 0 ? 'has-text-link': 'has-text-danger'"></td>
                        <td th:text="${#temporals.format(coin.getLastModified(), 'MM/dd HH:mm:ss')}"></td>

                    </tr>
                    </tbody>
                </table>

            </section>
        </div>
    </div>


</th:block>
