<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="commons/common-header"></th:block>
</head>
<body>
<th:block th:replace="commons/common-navbar"></th:block>

<div class="container is-fluid">
    <div class="box">

        <div class="columns">
            <div class="column is-3" style="overflow: auto; height: 600px;">
                <div class="columns" th:each="coin : ${coinList}"   >
                    <div class="column" >
                        <label  th:id="${coin.code}" class="checkbox">
                            <input type="checkbox" th:text="${coin.koreanName}"
                                   th:attr="onclick=|checkCoin('${coin.code}', '${coin.koreanName}')|" >
                        </label>
                    </div>
                </div>
            </div>

            <div class="column">
                <article class="panel is-link">
                    <p class="panel-heading">
                        Coin
                    </p>
                    <p class="panel-tabs" id="coin-list">

                    </p>

                    <div class="panel-block">
                        <label>선택한 코인 : </label>
                        <label id="nowCoin">

                        </label>
                    </div>


                    <div class="panel-block">
                        <label>매수 추세 : </label>
                        <label id="rsiStatus">

                        </label>
                    </div>

                    <div class="panel-block">
                        <label>매수 현황 : </label>
                        <label id="rsi">

                        </label>
                    </div>

                        <div class="panel-block">
                            <label>가격 추세 : </label>
                            <label id="priceStatus">

                            </label>
                        </div>
                </article>
            </div>
        </div>
    </div>
</div>
<script>
    let selectedCoin = [];
    let nowSelectedCoin = "";

    window.onload = function (){
        loadCoinInfo();
    }

    function checkCoin(coinCode, coinName){
        if(document.getElementById(coinName)){
            document.getElementById("coin-list")
                .removeChild(document.getElementById(coinName));
            selectedCoin.splice(selectedCoin.indexOf(coinCode), 1);
        } else {
            let elem = document.createElement("a");
            elem.innerText = coinName;
            elem.id = coinName;
            elem.onclick = function (){
                nowSelectedCoin = coinCode;
                document.getElementById("rsiStatus").innerText = "";
                document.getElementById("priceStatus").innerText = "";
            }
            document.getElementById("coin-list").appendChild(elem);
            selectedCoin.push(coinCode);
        }

    }

    function loadCoinInfo(){
        setInterval(function (){
            if(nowSelectedCoin == ""){
                return;
            }

            document.getElementById("nowCoin").innerText = nowSelectedCoin;
            let xhr = new XMLHttpRequest();
            let url = "http://localhost:8080/strategy/rsi-with-divergence/" + nowSelectedCoin;

            xhr.onreadystatechange = function (){
                if(this.readyState === this.DONE && this.status === 200){
                    let json = JSON.parse(xhr.responseText);

                    let rsi = "";
                    let price = "";
                    let total = "";

                    if(json.rsiStatus === "FALLING"){
                        rsi = "하락중"
                    } else {
                        rsi = "상승중"
                    }

                    if(json.priceStatus === "FALLING"){
                        price = "하락중"
                    } else {
                        price = "상승중"
                    }

                    document.getElementById("rsi").innerText = json.mostRecentRsi;
                    document.getElementById("rsiStatus").innerText = rsi;
                    document.getElementById("priceStatus").innerText = price;
                }
            }
            xhr.open("GET", url);
            xhr.send();

        }, 1000)
    }

</script>

</body>
</html>
