<div class="box">
    <div class="columns level">
        <div class="column is-2 level-item has-text-centered">
            <div>
                <p class="heading">거래가격</p>
                <p class="title is-5" id="tradePrice"></p>
            </div>
        </div>

        <div class="column is-2 level-item has-text-centered">
            <div>
                <p class="heading">조회시간</p>
                <p class="title is-5" id="time"></p>
            </div>
        </div>

        <div class="column is-2 level-item has-text-centered">
            <div>
                <p class="heading">구매시 이득 확률</p>
                <p class="title is-6" id="purchase"></p>
            </div>
        </div>

        <div class="column is-2 level-item has-text-centered">
            <div>
                <p class="heading">판매시 이득 확률</p>
                <p class="title is-6" id="sell"></p>
            </div>
        </div>

        <div class="column is-2 level-item has-text-centered">
            <div>
                <p class="heading">추천</p>
                <p class="title is-6" id="recommend"></p>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column has-text-right">
            <div id="coin-dropdown" class="dropdown is-right">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3" onclick="dropdownClick()">
                        <span id="selected-coin">Select Coin</span>
                        <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                    <div class="dropdown-content">
                        <a onclick="selectCoin(this.innerText)" class="dropdown-item">
                            리플 / XRP
                        </a>
                        <a onclick="selectCoin(this.innerText)" class="dropdown-item">
                            엘프 / ELF
                        </a>
                        <a onclick="selectCoin(this.innerText)" class="dropdown-item">
                            골렘 / GLM
                        </a>
                        <a onclick="selectCoin(this.innerText)" class="dropdown-item">
                            아르고 / AERGO
                        </a>
                        <a onclick="selectCoin(this.innerText)" class="dropdown-item">
                            파워렛저 / POWER
                        </a>
                        <a onclick="selectCoin(this.innerText)" class="dropdown-item">
                            도지 / DOGE
                        </a>

                        <a onclick="selectCoin(this.innerText)" class="dropdown-item">
                            헌트 / HUNT
                        </a>

                        <a onclick="selectCoin(this.innerText)" class="dropdown-item">
                            누사이퍼 / NU
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function dropdownClick(){
        let elem = document.getElementById("coin-dropdown");

        if(elem.className === "dropdown is-right"){
            elem.className = "dropdown is-active is-right";
        } else {
            elem.className = "dropdown is-right";
        }
    }

    function selectCoin(text){
        let info = text.split('/');

        document.getElementById("selected-coin").innerText = info[0];

        let xhr = new XMLHttpRequest();
        let url = "http://localhost:8080/indicator/rsi/" + info[1].trim();


        xhr.onreadystatechange = function (){
            if(this.readyState === this.DONE && this.status === 200){
                var json = JSON.parse(xhr.responseText);

                setTradePrice(json.tradePrice);
                setTime(json.dateKst);
                setRecommend(json.detailInfo.recommend);
                setPurchase(json.detailInfo.rsi);
                setSell(json.detailInfo.rsi);
            }
        }
        xhr.open("GET", url);
        xhr.send();
        dropdownClick();
    }


    function setTradePrice(price){
        document.getElementById("tradePrice").innerText = price;
    }

    function setTime(time){
        document.getElementById("time").innerText = time.replace('T', ' ');
    }

    function setRecommend(result){
        if(result === "BUY" || result === "SELL"){
            document.getElementById("recommend").className = "title is-6 has-text-danger";
        } else {
            document.getElementById("recommend").className = "title is-6";
        }

        document.getElementById("recommend").innerText = result;
    }

    function setPurchase(data){
        document.getElementById("purchase").innerText = 100 - Math.floor(data * 100) + "%";
    }


    function setSell(data){
        document.getElementById("sell").innerText = 100 - (100 - Math.floor(data * 100)) + "%";
    }
</script>