<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="layout_content">
  <section class="section is-title-bar">
    <div class="notification">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <ul>
              <li>현재 상태</li>
              <li th:if="${status.equals(true)}">거래 진행 중</li>
              <li th:unless="${status.equals(true)}">거래 중지</li>
            </ul>
          </div>
        </div>

        <div class="level-right">
          <div class="level-item">
            <div class="buttons has-addons">
              <a href="/trade-info?command=run" type="button" class="button is-danger">거래 시작</a>
            </div>
          </div>

          <div class="level-item">
            <div class="buttons has-addons">
              <a href="/trade-info?command=stop" type="button" class="button">거래 중지</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-main-section">
    <div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-cash-multiple"></i></span>
          거래내역
        </p>
        <a href="#" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>

      <div class="card-content">
        <div class="b-table has-pagination">
          <div class="table-wrapper has-mobile-cards">
            <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
              <thead>
              <tr>
                <th>No</th>
                <th>코인 이름</th>
                <th>거래 결과</th>
                <th>수익</th>
                <th>구매 가격</th>
                <th>판매 가격</th>
                <th>거래 시간</th>
              </tr>
              </thead>
              <tbody>
                <tr th:each="data : ${info}">
                  <td th:text="${data.id}"></td>
                  <td th:text="${data.coinType.koreanName}"></td>
                  <td th:if="${data.tradeResult.toString().equals('Benefit')}" th:class="has-text-link"
                      th:text="이득"></td>

                  <td th:unless="${data.tradeResult.toString().equals('Benefit')}" th:class="has-text-danger"
                      th:text="손해"></td>
                  <td th:text="${#numbers.formatInteger(data.sellPrice - data.buyPrice, 0, 'COMMA')}"></td>
                  <td th:text="${#numbers.formatInteger(data.buyPrice, 0, 'COMMA')}"></td>
                  <td th:text="${#numbers.formatInteger(data.sellPrice, 0, 'COMMA')}"></td>
                  <td data-label="Created">
                    <small class="has-text-grey is-abbr-like" th:text="${data.createdDate}"></small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="notification">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <div class="buttons has-addons">
                    <a href="/trade-info?next=false" type="button" class="button">이전</a>
                  </div>
                </div>
              </div>

              <div class="level-right">
                <div class="level-item">
                  <div class="buttons has-addons">
                    <a href="/trade-info?next=true" type="button" class="button">다음</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</th:block>