<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="layout_content">
  <script th:inline="javascript">
    /*<![CDATA[*/

    let message = [[${result}]];

    if(message === "success"){
      alert("저장되었습니다");
    } else if(message === "failed"){
      alert("저장에 실패했습니다.");
    }

    /*]]>*/
  </script>
<section class="section is-main-section">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-lock default"></i></span>
        거래 설정
      </p>
    </header>
    <div class="card-content">
      <form action="/trade-setting" method="post">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">거래 코인</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="tradeCoin">
                    <option th:each="coin : ${coinList}" th:if="${coin.equals(userInfo.tradeCoin)}"
                            th:text="${coin.koreanName}" selected></option>

                    <option th:each="coin : ${coinList}" th:unless="${coin.equals(userInfo.tradeCoin)}"
                            th:text="${coin.koreanName}"></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>


        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">현재 원화 잔고</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" th:value="${userInfo.balance}" class="input" readonly>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">시작 가격</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" name="startPrice" class="input" th:value="${userInfo.startPrice}" required>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">마지막 가격</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" name="lastPrice" th:value="${userInfo.lastPrice}" class="input" required>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">분할 횟수</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" name="divideCount" class="input" th:value="${userInfo.divideCount}" required>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="field is-horizontal">
          <div class="field-label is-normal"></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button type="submit" class="button is-primary">
                  저장
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

</th:block>